.banner-container {
  position: relative;
  width: 300%;
  height: 580px;
  border-radius: 5px;

  overflow: hidden;
  display: flex;
  cursor: default;
}
.banner-container:hover ~ .banner-right-arrow {
  opacity: 0.5;
}

.banner-main {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner-main-slogan {
  position: absolute;
  width: 100%;
  font-family: Noto Sans KR;
  font-weight: bold;
  color: #ffffff;
}

.banner-main-button {
  all: unset;

  position: absolute;

  background: #e74a4a;
  border-radius: 10px;

  font-family: Noto Sans KR;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}
.banner-main-button:hover {
  background: #db4747;
}

.banner-right-arrow {
  position: absolute;
  width: 5%;
  height: 180px;
  top: 30%;
  right: 0px;

  padding: 40px 0px;

  opacity: 0;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.banner-right-arrow:hover {
  opacity: 0.9;
}

/* first banner */
.main1-background {
  background-color: #30475e;
}
.main1-slogan1 {
  top: 15%;
  left: 5%;
  font-size: 120px;
}
.main1-slogan2 {
  top: 45%;
  left: 5.2%;
  font-size: 90px;
}

/* second banner */
.main2-background {
  background-color: rgb(34, 136, 80);
}
.main2-slogan1 {
  top: 15%;
  text-align: center;
  font-size: 100px;
}
.main2-slogan2 {
  top: 40%;
  text-align: center;
  font-size: 50px;
}
.main2-emoji1 {
  top: -90%;
  text-align: center;
  font-size: 1000px;
  opacity: 0.06;
}
.main2-button1 {
  top: 70%;
  left: 40%;
  width: 20%;
  height: 10%;

  font-size: 25px;
}

@media (max-width: 767px) {
  .banner-container {
    height: 240px;
  }

  .banner-main-button {
    border-radius: 5px;
  }

  .banner-right-arrow {
    width: 8%;
    top: 10%;
    right: 0%;
  }

  /* first banner */
  .main1-slogan1 {
    font-size: 2rem;
  }
  .main1-slogan2 {
    font-size: 1.5rem;
  }

  /* second banner */
  .main2-slogan1 {
    font-size: 1.9rem;
  }
  .main2-slogan2 {
    font-size: 0.9rem;
  }
  .main2-emoji1 {
    top: -30%;
    font-size: 15rem;
  }
  .main2-button1 {
    left: 30%;
    width: 40%;
    height: 15%;
    font-size: 0.8rem;
  }
}
