.mainPage_container {
  width: 0.9;
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
  display: grid;
  /* grid-template-rows: 600px 300px 300px; */
  grid-template-rows: min(600px,50vw) repeat(2, min(300px,25vw));


  gap: 5px;
  background: #222831;
}

.box-container {
  width: 1;
  height: 1;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
}

@media (max-width: 850px) {
  .mainPage_container {
    width: 1;
    min-width: 300px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    background: #222831;
  }

  .box-container {
    height: 250px;
  }

}