.main1-button1 {
  all: unset;

  position: absolute;
  top: 75%;
  right: 5%;
  width: 20%;
  height: 10%;

  background: #f05454;
  border-radius: 10px;

  font-family: Noto Sans KR;
  font-weight: bold;
  font-size: min(1.5rem,2vw);

  text-align: center;

  color: #ffffff;
}

.button-newgame:hover {
  background: #e74a4a;
  cursor: pointer;
}

@media (max-width: 850px) {
  .main1-button1 {
    left: 30%;
    width: 40%;
    height: 15%;
    font-size: 0.8rem;
  }
}
