.mainPage_container {
  width: 1440px;
  margin: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 50px 300px 300px;
  gap: 5px;
  /* background-color: wheat; */
}

.box-container {
  /* background: yellow; */
  width: 100%;
  height: 100%;
  font-size: 15px;
  overflow: hidden;
  position: relative;
}

.game-box {
  display: flex;
  flex-direction: column;
  border: none;
}

.game-box > div:first-child {
  width: 100%;
  flex: 8;
  font-family: Noto Sans KR;
  font-weight: bold;
  font-size: 27px;

  color: #dddddd;
}
.game-box > div:nth-child(2) {
  width: 100%;
  flex: 1;
  font-size: 3px;
  padding-right: 10px;
  /* background-color: tomato; */
}
.game-box > div:last-child {
  width: 100%;
  flex: 44;
  /* background-color: bisque; */
}

.button-newgame {
  all: unset;

  position: absolute;
  top: 9.5%;
  right: 0.5%;
  width: 189px;
  height: 47px;

  background: #f05454;
  border-radius: 10px;

  font-family: Noto Sans KR;
  font-weight: bold;
  font-size: 20px;
  text-align: center;

  color: #ffffff;
}

.button-newgame:hover {
  background: #e74a4a;
}

.bar{
  float: right;
  padding-right: 5px;
  /* background-color: darkorchid; */
  filter:brightness(50%)
}

.gamelist-container {
  position: absolute;
  left : 0px;

  display: flex;
  border: none;
  flex-direction: row;
  gap: 15px;
  /* background-color: rgb(131, 131, 177); */
}

.gamelist-game {
  all: unset;
  position: relative;
  flex: 1;
  width: 320px;
  height: 235px;
  /* background-color: rgba(81, 255, 0, 0.445); */
}
.gamelist-game:hover{
  font-weight: bolder;
}

.gamelist-left-arrow{
  position: absolute;
  width: 60px;
  height: 180px;
  top:63px;
  left:0px;

  border-radius: 3px;

  background-color: rgba(255, 140, 0, 0.609);
  padding: 75px 10px;
  transform: scaleX(-1);  
}

.gamelist-right-arrow{
  position: absolute;
  width: 60px;
  height: 180px;
  top:63px;
  left:1380px;

  border-radius: 3px;

  background-color: rgba(255, 140, 0, 0.609);
  padding: 75px 10px;
}

.game-image {
  position: absolute;

  width: 310px;
  height: 180px;
  left: 0%;
  top: 0%;

  border-radius: 5px;

  background: #dddddd;
  object-fit: cover;
  filter:brightness(95%);
}
.game-image:hover{
  filter:brightness(100%);
}

.game-title {
  position: absolute;
  width: 100px;
  height: 22px;
  left: 10px;
  top: 81%;

  font-size: 15px;
  color: #dddddd;
}

.game-category {
  position: absolute;
  width: 54px;
  height: 16px;
  left: 10px;
  top: 91%;

  font-size: 11px;
  color: #dddddd;

  opacity: 0.9;
}
