.game-box {
  display: flex;
  flex-direction: column;
  border: none;

  font-family: Noto Sans KR;
  color: #dddddd;
}

.game-box > div:first-child {
  width: 100%;
  flex: 7;
}
.game-box > div:nth-child(2) {
  width: 100%;
  flex: 1;
  font-size: 2px;
  /* background-color: tomato; */
}
.game-box > div:last-child {
  width: 100%;
  flex: 44;
  /* background-color: bisque; */
}

.box-title {
  padding-left: 10px;
  font-weight: bold;
  font-size: 1.7rem;
}

.bar {
  opacity: 0;
  float: right;
  padding-right: 5px;
  filter: brightness(50%);
  transition-duration: 0.4s;
}

.gamelist-container {
  position: absolute;
  left: 40px;

  display: flex;
  border: none;
  flex-direction: row;
  gap: 1px;
  /* background-color: purple; */
  transition-duration: 0.5s;
}

.gamelist-game {
  position: relative;
  /* width: 340px; */
  /* height: 235px; */
  flex: 1;
  display: flex;
  flex-direction: column;
  /* background-color: rgba(81, 255, 0, 0.445); */
}
.gamelist-game:hover {
  font-weight: bolder;
}

.gamelist-left-arrow {
  display: none;
  position: absolute;
  width: 40px;
  /* height: 180px; */
  left: 0px;
  margin-top: 5px;

  background-color: rgba(0, 0, 0, 0.472);
  padding-left: 10px;

  transform: scaleX(-1);
}
.gamelist-left-arrow:hover {
  background-color: rgba(0, 0, 0, 0.712);
}

.gamelist-right-arrow {
  display: none;
  position: absolute;
  width: 40px;
  /* height: 180px; */
  right: 0px;
  margin-top: 5px;

  background-color: rgba(0, 0, 0, 0.472);
  padding-left: 10px;
}
.gamelist-right-arrow:hover {
  background-color: rgba(0, 0, 0, 0.712);
}

.game-image {
  width: 95%;
  height: 180px;
  margin-top: 5px;
  border-radius: 5px;

  background: #dddddd;
  object-fit: cover;
  filter: brightness(95%);
}
.game-image:hover {
  filter: brightness(102%);
}

.game-title {
  width: 50%;
  margin-top: 2%;
  padding-left: 3%;

  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-writerNum {
  position: absolute;
  width: 100%;
  bottom: 8%;
  padding-right: 20px;
  white-space: nowrap;

  font-size: 1rem;
  text-align: right;
}

.game-category {
  width: 50%;
  margin-top: 1%;
  padding-left: 3%;

  font-size: 0.7rem;
  opacity: 0.9;
}

.game-rank {
  position: absolute;
  width: 10%;
  bottom: 2%;
  font-family: Bai Jamjuree;

  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .game-box {
    display: block;
  }

  .box-title {
    margin-bottom: 3%;
  }

  .gamelist-container {
    width: 100%;
    left: 0px;
    padding-left: 5%;

    flex-direction: column;
    gap: 2%;
  }

  .gamelist-game {
    width: 100%;
  }

  .game-image {
    margin-top: 0px;
    left: 0px;
  }

  .game-writerNum {
    bottom: 0%;
  }

  .game-rank {
    bottom: -2%;
  }
}
