.banner-container {
  position: relative;
  width: 500%;
  /* height: 580px; */
  border-radius: 5px;

  overflow: hidden;
  display: flex;
  cursor: default;
}
.banner-container:hover ~ .banner-right-arrow {
  opacity: 0.5;
}
.banner-container:hover ~ .banner-positionBar {
  opacity: 1;
}

.banner-main {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner-main-slogan {
  position: absolute;
  width: 100%;
  font-family: Noto Sans KR;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.banner-main-button {
  /* all: unset; */
  position: absolute;

  background: #e74a4a;
  border-radius: 0.7rem;
  border-width: 0;

  font-family: Noto Sans KR;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}
.banner-main-button:hover {
  background: #db4747;
}

.banner-right-arrow {
  position: absolute;
  width: 5%;
  height: 180px;
  top: 30%;
  right: 0px;

  padding: 40px 0px;

  opacity: 0;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.banner-right-arrow:hover {
  opacity: 0.9;
}

.banner-positionBar {
  position: absolute;
  /* top: 90%; */
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;

  transition: all 0.5s ease-in-out;
  opacity: 0.7;
}
.banner-right-arrow:hover {
  opacity: 1;
}

.banner-bar {
  padding-right: 5px;
  filter: brightness(50%);
  transition-duration: 0.4s;
  cursor: pointer;
}
.banner-bar:hover {
  transform: scale(1.3);
}

/* first banner */
.main1-background {
  background-color: #30475e;
}
.main1-slogan1 {
  top: 30%;
  font-size: min(4rem, 5vw);
}
.main1-slogan2 {
  top: 49%;
  font-size: min(2rem, 2.8vw);
}
.main1-button1 {
  top: 64%;
  left: 40%;
  width: 20%;
  height: 10%;

  font-size: min(1.5rem, 2vw);
}

/* second banner */
.main2-background {
  background-color: rgb(34, 136, 80);
}
.main2-slogan1 {
  top: 22%;
  font-size: min(6rem, 8vw);
}
.main2-slogan2 {
  top: 45%;
  font-size: min(3rem, 4vw);
}
.main2-emoji1 {
  top: -60%;
  font-size: min(50rem, 70vw);
  opacity: 0.06;
}
.main2-button1 {
  top: 64%;
  left: 40%;
  width: 20%;
  height: 10%;
  font-size: min(1.5rem, 2vw);
}

/* third banner */
.main3-background {
  background-color: #6f279044;
}
.main3-slogan1 {
  top: 20%;
  font-size: min(6rem, 7vw);
}
.main3-slogan2 {
  top: 43%;
  font-style: italic;
  font-size: min(1.8rem, 2.5vw);
}
.main3-slogan3 {
  top: 52%;
  font-size: min(1.8rem, 2.5vw);
}
.main3-button1 {
  top: 68%;
  left: 40%;
  width: 20%;
  height: 10%;

  font-size: min(1.5rem, 2vw);
}

/* forth banner */
.main4-background {
  background-color: #09c5c544;
}
.main4-slogan1 {
  top: 25%;
  font-size: min(5rem, 6vw);
}
.main4-slogan2 {
  top: 45%;
  font-style: italic;
  font-size: min(3rem, 3.5vw);
}
.main4-slogan3 {
  top: 59%;
  font-size: min(1.2rem, 2vw);
}
.main4-button1 {
  top: 67%;
  right: 40%;
  width: 20%;
  height: 10%;

  font-size: min(1.5rem, 2vw);
}

@media (max-width: 767px) {
  .banner-container {
    height: 260px;
  }

  .banner-main-button {
    border-radius: 5px;
  }

  .banner-right-arrow {
    width: 8%;
    top: 10%;
    right: 0%;
  }

  .banner-main-button {
    left:35%;
    width: 30%;
  }

  .main4-slogan1 {
    top: 30%;
  }
  .main4-slogan3 {
    top: 55%;
  }
}
