.mainPage_container {
  width: 1440px;
  margin: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 600px 300px 300px;
  gap: 5px;
  background: #222831;

}

.box-container {
  width: 100%;
  height: 100%;
  font-size: 15px;
  overflow: hidden;
  position: relative;
  /* background: yellow; */
}
