.registerPage-container {
  width: 1440px;
  margin: auto;
  box-sizing: border-box;
  background: #222831;
}

.registerDiv-container {
  position: relative;
  margin: auto;

  width: 700px;
  margin-top: 60px;
  padding: 45px;

  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  background-color: #30475e;
}

.register-Title {
  font-family: Noto Sans KR;
  font-weight: bold;
  font-size: 50px;
  text-align: left;
  color: #ffffff;
  padding-bottom: 20px;
}

.register-oldUser {
  font-family: Noto Sans KR;
  font-size: 20px;
  text-align: left;
  color: #ffffff;
  padding-bottom: 20px;
}

.register-login {
  all: unset;
  font-family: Noto Sans KR;
  font-size: 20px;
  text-align: left;

  color: rgb(64, 153, 212);
  background-color: rgba(76, 181, 251, 0.219);
}
.register-login:hover {
  border-bottom-style: solid;
  border-width: 1px;
}

.register-button {
  all: unset;

  width: 610px;
  height: 65px;
  margin-top: 10px;

  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;

  border-radius: 5px;
  background: rgb(64, 153, 212);
}
.register-button:hover {
  background: rgb(76, 181, 251);
  cursor: pointer;
}

@media (max-width: 767px) {
  .registerPage-container {
    width: 100%;
  }
  .registerDiv-container {
    width: 100%;
    margin-top: 20px;
  }
  .register-button {
    width: 100%;
  }
}