.assetImg_container{
    background-color:khaki;
    width: 900px ;
    height: 900px;
    /* display: ; */

    /* flex-direction: row; */
}
.assetImg_card{
    display:inline-block;
    background-color:pink;
    width : 260px;
    height: 250px;
    margin: 5px 20px;
}
.assetImg_card :hover{
  background-color: rgba(211, 211, 211, 0.315);
  cursor: pointer;
}
.assetImg_card_true{
  border-color: rgba(255, 11, 11, 0.63);
  cursor: pointer;
}

.assetImg{
    background-color:green;

    width : 100%;
    height:100%;
    object-fit: contain;
    
}