
.ending_modal.ant-modal{
    top:45px;
    width:700px !important;
    height: 0px;
}
.ending_modal>.ant-modal-content{
    top:150px;
    height: 420px;
}
.ending_modal>.ant-modal-content>.ant-modal-body{
    height: 370px;
    display: flex;
    justify-content: space-around;
    padding:20px;
    margin:0px;
  }
  .ending_modal>.ant-modal-content>.ant-modal-header{
    height: 70px;
    padding:10px;
    margin:0px;
  }
  .ending_modal>.ant-modal-content>.ant-modal-header>.ant-modal-title{
    font-size: 30px;
  }

.ending_modal_cancel_btn{
    position: absolute;
    right:15px;
    top:10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.ending_modal_ending_btn{
    width:270px;
    height:270px;
    margin-right: 15px;
    opacity: 0.85;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    font-family: Noto Sans KR;
    font-weight: bold;
    background-color: white;
    border: 1px solid white;
}
.ending_modal_ending_btn>svg{
    width:270px;
    height:270px;
}
.ending_modal_ending_btn:hover{
    opacity: 1.0;
    border: 1px solid black;
}

.ending_modal_choice_btn{
    width:270px;
    height:270px;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    font-family: Noto Sans KR;
    font-weight: bold;
    background-color: white;
    border: 1px solid white;
}
.ending_modal_choice_btn>svg{
    width:270px;
    height:270px;
}
.ending_modal_choice_btn:hover{
    opacity: 1.0;
    border: 1px solid black;
}

.ending_modal_warning_sign{
    padding: 7px 10px 0px 5px;
}

.ending_modal_warning_textarea{
    font-family: Noto Sans KR;
    font-weight: bold;
}

.ending_modal_choice_container{
    position:relative;
}

.ending_modal_description{
    position: absolute;
    top: 0px;
    height: 270px;
    width: 270px;
    padding: 40px;
    background-color: black;
    color: white;
    opacity: 0;
    transition: all 0.3s ease-in-out ;
}
.ending_modal_description:hover {
    opacity: 1.0;
}
