.scenemake_essetmodal.ant-modal{
  top:45px;
  width:1050px !important;
  height: 0px;
  justify-content : center;
}
.scenemake_essetmodal>.ant-modal-content{
  height: 730px;
  /* background-color: teal !important; */
}
.scenemake_essetmodal>.ant-modal-content>.ant-modal-body{
  height: 680px;
  /* background-color: orange !important; */
}
.scenemake_essetmodal>.ant-modal-content>.ant-modal-footer{
  height: 50px;
  /* background-color: greenyellow !important; */
}

.scenemake_essetmodal>.ant-modal-content>.ant-modal-footer>div>.ant-btn{
  transition:none;
}
.scenemake_essetmodal>.ant-modal-content>.ant-modal-footer>div>.ant-btn.ant-btn-primary{
  transition:none;
}

.sceenmake_essetmodal_container{
  
  height:630px;
  position: relative;
}


.tabs {  
  position: absolute;
  top:0px;
  width:100%;
  height:50px;
  display: flex;
  text-align: center;
  color: #dddddd;
  background-color: #30475e;
  border-bottom: 4px solid #222831;
}
.tab {
  all:unset;
  font-family: Noto Sans KR;  
  font-size: 18px;
  font-weight: bold;
  flex: 1 0 auto;
  padding: 12px;  
  cursor: pointer;
}

.tab:hover{
  background-color: #41586f;
}
.is-selected {
  background-color: #222831;
}
.is-selected:hover{
  background-color: #222831;
}
