@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.wrapper {
    width : 1440px;
    height: 620px;
    margin: auto;

    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 915px;
    grid-template-rows: 80px 45px 150px 365px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
}

.title {
    grid-row:1;
    grid-column:1;

    flex-flow: row;
    
    margin-top: 18px;   
    font-size:25px;
    padding-left: 50px;
    font-family: Noto Sans KR;
}
.title-btn{
    display: inline;
    font-size:15px;
    padding: 2px;
    margin-left: 65px;    
    border-radius: 6px;
    background-color: #f05454;
    /* border: 1px solid rgba(70, 70, 70, 0.26); */
}
.title-btn:hover{    
    background-color: #e74a4a;
}
.sceneBox {
    grid-row: 2;
    grid-column: 1;    

    padding-top: 13px;
    margin-left: 50px;    
    margin-right: 50px;    

    display: inline-flex;    
    justify-content: space-between;         
}
.scene {    
    grid-row: 3 /span 2;
    grid-column: 1;
    
    position:relative;
    display: flex;
}

.left-arrow{
    z-index: 98;
    position: absolute;
    width: 50px;
    height: 515px;
    top:0px;
    left:0px;  
    padding-top:232.5px;
  
    background-color: rgba(0, 0, 0, 0.472);
    transform: scaleX(-1);  
}
.left-arrow:hover{
    background-color: rgba(0, 0, 0, 0.712);
}
  
.right-arrow{
    z-index: 98;
    position: absolute;
    width: 50px;
    height: 515px;
    top:0px;
    left:865px;
    padding-top:232.5px;
    
    background-color: rgba(0, 0, 0, 0.472);
}
  
.right-arrow:hover{
    background-color: rgba(0, 0, 0, 0.712);
}

.sceneMake__text_container {
    z-index: 99;
    background-color: rgba(128, 128, 128, 0.815);
  
    padding: 2% 3% 1% 3%;
    border-radius: 1em;
  
    bottom: 0%;
    left: 15%;
    height: 40%;
    width: 67%;
  
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }
  .sceneMake__name_block {
    all: unset;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(182, 182, 182, 0.815);
    padding: 5px;
    border-radius: 2px;
  }

  .sceneMake__text_line {
    height: 1px;
    width: 100%;
    border-bottom: 2px solid rgb(235, 235, 235);
  }
  
  .sceneMake__text_block {
    all: unset;
    font-size: 20px;
    font-weight: bold;
    height: 80%;
    padding: 5px;
    border-radius: 2px;
    background-color: rgba(182, 182, 182, 0.815);
  }

.sceneMake__SceneBox_color {
    width: 13px;
    height: 13px;
    border-radius: 8px;
    background-color: #DDDDDD;
    border: 1px solid rgba(70, 70, 70, 0.26);
    cursor: pointer;
}

.sceneMake__CurrentSceneBox {
    width: 13px;
    height: 13px;
    border-radius: 8px;
    background-color: #f05454;
    border: 1px solid rgba(70, 70, 70, 0.26);
}

.sceneMake__EmptySceneBox {
    width: 13px;
    height: 13px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid rgba(70, 70, 70, 0.26);
}


.scene__btn_top {
    grid-row: 1;
    grid-column: 2;

    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: flex-end;
}

.scene_btn{ 
    all: unset;
    width:80px;
    padding-top:7px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    margin-left: 10px;
    font-family: Noto Sans KR;
    background-color: #DDDDDD;
    color: #30475e;
}
.scene_btn_blue{
    font-weight: 500;
    background-color: #399cff;
    color: #ffffff;
} 

.btn_side {
    grid-row: 3 /span 1;
    grid-column: 2;
}
.sideBar {
    grid-row: 4 / span 1;
    grid-column: 2;
}
