@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


.menu.isMake{
    position: absolute !important;
}
.sceneMake_footer{
    background-color: #f05454;
}
.wrapper {
    width : 1440px;
    height: 745px;
    margin: auto;

    display: grid;
    grid-template-columns: 50px 280px 520px 50px 50px 405px 85px;
    grid-template-rows: 35px 40px 45px 45px 400px 50px 120px;
}

.debug-box {
    background-color: blue;
    border-radius: 5px;
}

.info_btn{
    grid-row:1;
    grid-column:2;    
    /* text-align: center; */
    width: 70px;
    font-size:15px;
    border: 1px solid rgba(70, 70, 70, 0.26);
    margin-top: 10px;
    padding: 0px 2px 2px 2px;
    margin-right: 3px;
    border-radius: 8px;
    background-color: #399cff;
    border: 1px solid #177add;
    color:#fff;
    font-weight: 100;
    overflow: hidden;
    cursor: pointer;
    /* border: 1px solid rgba(70, 70, 70, 0.26); */
}
.info_btn:hover{    
    background-color: #4aadff;
}

.title {
    display: flex;
    align-items: center;
    padding-right: 50px;
    grid-row:2;
    grid-column:1 / span 4;    
    font-size:30px;
    line-height: 30px;
    padding-left: 50px;
    font-family: Noto Sans KR;
    color:#ffffff;
    font-weight: bold;
    cursor:default;
}

.sceneBox {
    grid-row: 3;
    grid-column:1 / span 4;
        
    margin-left: 50px;    
    margin-right: 50px;    

    display: inline-flex;    
    justify-content: space-between;      
    /* background-color: #399cff;    */
}
.sceneBox_cutnumber{
    text-align: end;
    width: 65px;
    padding:0px 5px 0px 5px;
    margin:5px 3px 5px 0px;
    font-size: 20px;
    font-weight: bold;
    font-family: Noto Sans KR;    
    background-color: #DDDDDD;
    border: 1px solid rgba(70, 70, 70, 0.26);
    border-radius: 8px;
    cursor:default;
}
.sceneBox_cutnumber.max{
    background-color: #FFE86F;
}
.sceneBox_del_btn{
    all: unset;
    width:75px;
    text-align: center;
    font-size: 16px;
    margin:7px 0px 7px 0px;
    font-weight: 500;
    border-radius: 8px;
    font-family: Noto Sans KR;
    background-color: #f05454;
    border: 3px solid #d03232;
    color: #FFFFFF;
    cursor: pointer;    
}
.sceneBox_del_btn:hover{
    background-color: #f16565;
}
.scene {    
    grid-row: 4 /span 2;
    grid-column:1 / span 4;    
    position:relative;
    display: flex;   
}
.scene__sound_container {    
    top:20px;
    right:50px;
    width:200px;
    z-index: 99;
    color:black;
    font-family: Noto Sans KR;
    /* font-size: 15px; */
    border-radius: 2px;
    background-color: rgba(221, 221, 221, 0.5);
    position: absolute;
    cursor:pointer;
}

.scene__sound_box{
    width:100%;
    height:100%;    
    /* background-color: blueviolet; */
}
.scene__sound_icon{
    font-size: 25px;
    margin-right: 5px;
    /* background-color: blue; */
}

.scene__sound_bgm_name{
    width:85%;
    position: absolute;
    bottom:27px;
    font-size: 18px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    display: inline-block;
    /* background-color: aquamarine; */
}
.scene__sound_sound_name{
    width:85%;
    position: absolute;
    bottom:0px;
    font-size: 18px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display: inline-block;
}
.left-arrow{
    width: 50px;
    padding-top:200px;  
    background-color: #222831;
    transform: scaleX(-1);  
    cursor: pointer;
}
.left-arrow>svg{
    width:50px;
    height:50px;
    transform:translateX(20%);
}
.left-arrow:hover{
    background-color: #333942;
}
  
.right-arrow{
    width: 50px;
    padding-top:190px;    
    background-color: #222831;
    cursor: pointer;
}  
.right-arrow>svg{
    width:50px;
    height:50px;
    transform:translateX(20%);
}
.right-arrow:hover{
    background-color: #333942;
}

.scene__text_container {
    z-index: 98;
  
    bottom: 20px;
    left: 150px;
    height: 170px;
    width: 600px;
  
    position: absolute;
    color: black;
    font-family: Noto Sans KR;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }
  .scene__name_block {
    all: unset;
    font-size: 18px;
    height:38px;
    width:180px;
    font-weight: bold;
    color: black;
    flex-direction: row;
    opacity: 0.95;
    color : #444;
    background-color: #BBBBBB;
    padding: 3px 20px 0px 20px;
    border-radius: 2px;
  }  

  .scene__text_line {
    height: 5px;
    opacity: 0.95;
    background-color: #BBBBBB;
  }
  
  .scene__text_block {
    all: unset;
    font-size: 18px;
    font-weight: bold;
    height: 80%;
    padding: 5px;
    border-radius: 2px;
    opacity: 0.7;
    padding: 20px 30px 20px 30px;
    background-color: #DDDDDD;
  }

  .scene__script_btn{
      z-index: 99;
      position: absolute;
      color:black;
      cursor: pointer;
  }
.scene__SceneBox{
    margin-top: 10px;
    width: 22px;
    height: 25px;
    /* background-color: orange;
    border:0.1px solid greenyellow; */
    cursor:pointer;    
}

.scene__SceneBox_color {
    width: 17px;
    height: 17px;
    border-radius: 8px;
    margin-top: 4px;
    margin-left: 1px;
    background-color: #EEEEEE;
    border: 1px solid rgba(70, 70, 70, 0.26);
}
.scene__SceneBox_color:hover{
    background-color: #FFE86F;
}

.scene__CurrentSceneBox {
    width: 17px;
    height: 17px;
    border-radius: 8px;
    margin-top: 4px;
    margin-left: 1px;
    background-color: #f05454;
    border: 1px solid rgba(70, 70, 70, 0.26);
}

.scene__EmptySceneBox {
    width: 17px;
    height: 17px;
    border-radius: 8px;
    margin-top: 14px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(70, 70, 70, 0);
}
.sceneBox_plus{
    width: 17px;
    height: 17px;
    margin-top: 4px;
    margin-left: 1px;
}
.sceneBox_plus_horizonal{
    position: absolute;
    margin-top:6px;
    border-radius: 4px;
    width: 17px;
    height: 5px;
    background-color: white;
}
.sceneBox_plus_vertical{
    position: absolute;
    border-radius: 4px;
    margin-left:6px;
    width: 5px;
    height: 17px;
    background-color: white;
}


.scene__btn_top {
    grid-row: 2;
    grid-column: 6 /span 1;
    
    /* margin-right: 15px; */
    padding-top: 10px;
    display: inline-flex;
    justify-content: flex-end;
}

.scene_btn{ 
    all: unset;
    width:80px;
    padding-top:1px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    margin-left: 10px;
    font-family: Noto Sans KR;
    background-color: #DDDDDD;
    color: #30475e;
    cursor: pointer;
    border:3px solid #AAAAAA;
}

.scene_btn:hover{
    background-color: #EEEEEE;
}
.scene_btn_blue{
    font-weight: 500;
    background-color: #399cff;
    border:3px solid #177add;
    color: #EEEEEE;
} 
.scene_btn_blue:hover{
    background-color: #4aadff;
}
.scene_btn_red{
    font-weight: 500;
    font-size:15.5px;
    background-color: #f05454;
    color: #EEEEEE;
} 
.scene_btn_red:hover{
    background-color: #f16565;
}

.btn_side {
    grid-row: 4;
    grid-column: 6;

    margin-bottom: 10px;
    display: inline-flex;
    justify-content: space-between;
}

.scene_side_btn{ 
    all: unset;
    width:89px;
    padding-top:3px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    font-family: Noto Sans KR;
    background-color: #DDDDDD;
    border: 3px solid #AAAAAA;
    color: #30475e;
    cursor: pointer;    
}
.scene_side_btn:hover{ 
    background-color: #EEEEEE;
}
.scene_side_btn.light{
    background-color: #FFE86F;
    border: 3px solid #DDC64D;
}
.scene_side_btn.light:hover{
    background-color: #FFE86F;
}

.textbox_name{
    all: unset;
    padding-left: 20px;
    font-size: 18px;
    grid-row: 6;
    grid-column: 2;
    margin: 7px 30px 0px 0px;
    color:black;
    font-weight: 300;
    font-family: Noto Sans KR;
    background-color: #DDDDDD;
    border-radius: 8px;   
    position: relative;
}

.textbox__name_block_btn{
    z-index: 110;
    right:10px;
    top:-7px;      
    width:43px;
    height: 60px;
    padding: 20px 10px 10px 15px;
    /* background-color: violet; */
    position: absolute; 
    transform:rotate(90deg);
    cursor: pointer;

}

.textbox__name_block_btn:hover{
    opacity: 0.5;
}
.textbox_bottom{
    all: unset;
    grid-row: 7;
    grid-column: 2/span 3;
    position: relative;
}
.textbox_script{   
    all: unset;
    padding:15px 30px 15px 30px;
    font-size: 18px;
    width: 63%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:black;
    font-weight: 300;
    font-family: Noto Sans KR;
    background-color: #fff;
    border-radius: 8px; 
}

.enter{
    all: unset;
    position: absolute;
    right:0px;
    padding-top:8px;
    padding-bottom: 8px;
    margin-right: 100px;
    margin-top: 40px;
    width:140px;
    height:55px;
    background-color: #DDDDDD;
    border:3px solid #AAAAAA;
    font-family: Noto Sans KR;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.enter:hover{
    background-color: #EEEEEE;
}
.options{
    all:unset;
    width:520px;
    margin-top: 12px;
    grid-row: 6;
    grid-column: 3/ span 2;
    justify-content: flex-end;
    display: inline-flex;
}
.scenemake_volume{
    margin-right: 20px;
}
.scenemake_volume_text{
    position: absolute;
    text-align: center;
    width:50px;
    top:635px;
    color:#DDDDDD;
    font-family: Noto Sans KR;
    font-size: 15px;
    cursor:default;
}

.sideBar {
    grid-row: 5 / span 3;
    grid-column: 6;
}

.backgroundImg {
    z-index: 95;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin:0;
    border-radius: 0;
    position: relative;
  }


.scenemake_tooltip_container{
    position: absolute;
    right:-35px;
    bottom:0px;
  /* display: inline-block; */
  font-size:16px;
  
}
.scenemake_tooltip_container .scenemake_tooltip_text {
    visibility: hidden;
    width: 300px;
    top: -5px;
    right: 105%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size:17px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 105;
}
.scenemake_tooltip_container:hover{
    color:#399CFF;
}

.scenemake_tooltip_container:hover .scenemake_tooltip_text {
  visibility: visible;
  white-space: pre-line;
}

.scenemake_title_clock{
    position:absolute;
    display:inline;
}
.scenemake_title_container{
    width : 95%;
    position: relative;
    height:30px;
    
}