@import 'SceneMakePage.css';
@import '../../../App.css';

/* 추후에 리팩토링 하겠습니다 UI 바꾸면서 다시짜겠음*/

@media (max-width:850px) and (orientation:landscape){    
    .wrapper {
        width : calc(1440vh/9);
        height: calc(790vh/9);
        margin: auto;
        display: grid;
        grid-template-columns: calc(50vh/9) calc(280vh/9) calc(520vh/9) calc(50vh/9) calc(50vh/9) calc(405vh/9) calc(85vh/9);
        grid-template-rows:calc(55vh/9) calc(55vh/9) calc(45vh/9) calc(50vh/9) calc(395vh/9) calc(50vh/9) calc(120vh/9);
    }
    
    .debug-box {
        background-color: blue;
        border-radius: calc(5vh/9);
    }
    .info_btn{
        grid-row:1;
        grid-column:2;    
        /* text-align: center; */
        width: calc(110vh/9);
        font-size:calc(25vh/9);
        border: calc(1vh/9) solid rgba(70, 70, 70, 0.26);
        margin-top: calc(10vh/9);
        margin-bottom: 0.5vh;
        text-align: center;
        padding: calc(0vh/9) calc(2vh/9) calc(2vh/9) calc(2vh/9);
        margin-right: calc(3vh/9);
        margin-bottom: calc(10vh/9);
        border-radius: calc(8vh/9);
        background-color: #399cff;
        border: calc(1vh/9) solid #177add;
        color:#fff;
        font-weight: 100;
        overflow: hidden;
        cursor: pointer;
        /* border: 1px solid rgba(70, 70, 70, 0.26); */
    }
    .info_btn:hover{    
        background-color: #4aadff;
    }
    
    .title {
        padding-right: calc(50vh/9);
        grid-row:2;
        grid-column:1 / span 4;    
        line-height:calc(50vh/9);
        font-size:calc(40vh/9) !important;
        padding-left: calc(50vh/9);
        font-family: Noto Sans KR;
        color:#ffffff;
        font-weight: bold;
        cursor:default;
    }

    .sceneBox {
        grid-row: 3;
        grid-column:1 / span 4;
            
        margin-left: calc(50vh/9);    
        margin-right: calc(50vh/9);    
    
        display: inline-flex;    
        justify-content: space-between;      
        /* background-color: #399cff;    */
    }
    .sceneBox_cutnumber{
        text-align: end;
        width: calc(90vh/9);
        margin:calc(0vh/9) calc(3vh/9) calc(5vh/9) calc(0vh/9);
        padding:calc(0vh/9) calc(5vh/9) calc(0vh/9) calc(5vh/9);
        font-size: calc(27vh/9);
        font-weight: bold;
        font-family: Noto Sans KR;    
        background-color: #DDDDDD;
        border: calc(1vh/9) solid rgba(70, 70, 70, 0.26);
        border-radius: calc(8vh/9);
        cursor:default;
    }
    .sceneBox_cutnumber.max{
        background-color: #FFE86F;
    }
    .sceneBox_del_btn{
        all: unset;
        width:calc(100vh/9);
        text-align: center;
        font-size: calc(27vh/9);
        line-height: calc(33vh/9);
        margin:calc(0vh/9) calc(0vh/9) calc(5vh/9) calc(0vh/9);
        font-weight: 500;
        border-radius: calc(8vh/9);
        font-family: Noto Sans KR;
        background-color: #f05454;
        border: calc(3vh/9) solid #d03232;
        color: #FFFFFF;
        cursor: pointer;    
    }
    .sceneBox_del_btn:hover{
        background-color: #f16565;
    }
    .scene {    
        grid-row: 4 /span 2;
        grid-column:1 / span 4;    
        position:relative;
        display: flex;   
    }
    .scene__sound_container {    
        top:calc(20vh/9);
        right:calc(50vh/9);
        width:calc(230vh/9);
        z-index: 99;
        color:black;
        font-family: Noto Sans KR;
        /* font-size: 15vh/9); */
        margin: 0vh;
        border-radius: calc(2vh/9);
        background-color: rgba(221, 221, 221, 0.5);
        position: absolute;
        cursor:pointer;
    }
    
    .scene__sound_box{
        width:100%;
        height:calc(40vh/9) ;    
        /* background-color: blueviolet; */
    }
    .scene__sound_icon{
        font-size: calc(25vh/9);
        margin-right: calc(5vh/9);
        /* background-color: blue; */
    }
    .scene__sound_icon.bgm{
        position: absolute;
        top:calc(10vh/9);
        font-size: calc(25vh/9);
        margin-right: calc(5vh/9);
    }
    .scene__sound_icon.sound{
        position: absolute;
        top:calc(49vh/9);
        font-size: calc(25vh/9);
        margin-right: calc(5vh/9);
    }
    
    .scene__sound_bgm_name{
        width:85%;
        position: absolute;
        bottom:calc(40vh/9);
        right:calc(5vh/9);
        font-size: calc(25vh/9);
        overflow: hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        display: inline-block;
    }
    .scene__sound_sound_name{
        width:85%;
        position: absolute;
        bottom:calc(0vh/9);
        right:calc(5vh/9);
        font-size: calc(25vh/9);
        overflow: hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        display: inline-block;
    }
    .left-arrow{
        width: calc(50vh/9);
        padding-top:calc(200vh/9);  
        background-color: #222831;
        transform: scaleX(-1);  
        cursor: pointer;
    }
    .left-arrow>svg{
        width:calc(50vh/9);
        height:calc(50vh/9);
    }
    .left-arrow:hover{
        background-color: #333942;
    }
      
    .right-arrow{
        width: calc(50vh/9);
        padding-top:calc(200vh/9);    
        background-color: #222831;
        cursor: pointer;
    }
    .right-arrow>svg{
        width:calc(50vh/9);
        height:calc(50vh/9);
    }      
    .right-arrow:hover{
        background-color: #333942;
    }
    
    .scene__text_container {
        z-index: 98;
      
        bottom: calc(20vh/9);
        left: calc(150vh/9);
        height: calc(170vh/9);
        width: calc(600vh/9);
      
        position: absolute;
        color: black;
        font-family: Noto Sans KR;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
      }

    .text_container {
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.815);
        color: rgb(255, 255, 255);
        padding: 5%;
        border-radius: 0.3vmin;
        bottom: 10%;
        height: 24%;
        width: 100%;
        position: absolute;
    }
    
    .text_container.atorney {
        opacity: 1;
        background-image: repeating-linear-gradient(45deg, #000114 25%, transparent 25%, transparent 75%, #000114 75%, #000114), repeating-linear-gradient(45deg, #000114 25%, #282846 25%, #282846 75%, #000114 75%, #000114);
        background-position: 0 0, 2px 2px;
        background-size: 4px 4px;
        border-top: 3px solid rgb(196, 196, 196);
        border-bottom: 3px solid rgb(196, 196, 196);
        background-color: #e5e5f7;
    }
    
    .name_block.make {
        font-size: calc(20vh/9);
        padding: calc(0vh/9) 3%;
        border: white solid calc(1vh/9);
        top: calc(-10vh/9);
        left: 10%;
    }
    
    .name_block.play {
        font-size: 3vmin;
        padding: calc(0vh/9) 3%;
        border: white solid calc(1vh/9);
        top: -1.2vmin;
        left: 10%;
    }
    .name_block.full {
        font-size: 3.5vmin;
        padding: calc(0vh/9) 3%;
        border: white solid calc(1vh/9);
        top: -1.7vmin;
        left: 10%;
    }
    .text_block{
        top: 26%;
    }
    .text_block.make {
        width: 70%;
        height: calc(60vh/9);
        font-size: calc(20vh/9);
        left:15%;
    }
    .text_block.play {
        width: 90%;
        height: 10vmin;
        font-size: 3.2vmin;
    }
    .text_block.full {
        width: 90%;
        height: 11vmin;
        font-size: 3.7vmin;
    }

    .text_line.make {
        width: calc(560vh/9);
    }
    .text_line.play{
        width: 90vmin;
    }
    .text_line.full{
        width: 110vmin;
    }
    
    .scene__SceneBox{
        margin-top: calc(10vh/9);
        width: calc(18vh/9);
        height: calc(18vh/9);
        cursor:pointer;  
        /* background-color: #177add;   */
        /* border:1vh/9) solid greenyellow; */
    }
    
    .scene__SceneBox_color {
        width: calc(20vh/9);
        height: calc(20vh/9);
        border-radius: calc(8vh/9);
        margin-top: calc(0vh/9);
        margin-left: calc(0vh/9);
        background-color: #EEEEEE;
        border: calc(0vh/9) solid rgba(70, 70, 70, 0.26);
    }
    .scene__SceneBox_color:hover{
        background-color: #FFE86F;
    }
    
    .scene__CurrentSceneBox {
        width: calc(20vh/9);
        height: calc(20vh/9);
        border-radius: calc(8vh/9);
        margin-top: calc(0vh/9);
        margin-left: calc(0vh/9);
        background-color: #f05454;
        border: calc(1vh/9) solid rgba(70, 70, 70, 0.26);
    }
    
    
    .scene__EmptySceneBox {
        width: calc(17vh/9);
        height: calc(17vh/9);
        border-radius: calc(8vh/9);
        margin-top: calc(14vh/9);
        background-color: rgba(255, 255, 255, 0);
        border: calc(1vh/9) solid rgba(70, 70, 70, 0);
    }
    .sceneBox_plus{
        width: calc(20vh/9);
        height: calc(20vh/9);
        margin-top: calc(0vh/9);
        margin-left: calc(0vh/9);
    }
    .sceneBox_plus_horizonal{
        position: absolute;
        margin-top:calc(7vh/9);
        border-radius: calc(4vh/9);
        width: calc(20vh/9);
        height: calc(6vh/9);
        background-color: white;
    }
    .sceneBox_plus_vertical{
        position: absolute;
        border-radius: calc(4vh/9);
        margin-left:calc(7vh/9);
        width: calc(6vh/9);
        height: calc(20vh/9);
        background-color: white;
    }
    
    
    .scene__btn_top {
        grid-row: 2;
        grid-column: 6 /span 1;
        
        /* margin-right: 15vh/9); */
        padding: calc(0vh/9) calc(0vh/9) calc(0vh/9) calc(0vh/9);
        display: inline-flex;
        justify-content: flex-end;
    }
    
    .scene_btn{ 
        all: unset;
        width:calc(120vh/9);
        padding-top:calc(0vh/9);
        text-align: center;
        font-size: calc(29vh/9);
        font-weight: bold;
        border-radius: calc(8vh/9);
        margin-left: calc(10vh/9);
        font-family: Noto Sans KR;
        background-color: #DDDDDD;
        color: #30475e;
        cursor: pointer;
        border:calc(3vh/9) solid #AAAAAA;
    }
    
    .scene_btn:hover{
        background-color: #EEEEEE;
    }
    .scene_btn_blue{
        font-weight: 500;
        background-color: #399cff;
        border:calc(3vh/9) solid #177add;
        color: #EEEEEE;
    } 
    .scene_btn_blue:hover{
        background-color: #4aadff;
    }
    .scene_btn_red{
        font-weight: 500;
        font-size:calc(15.5vh/9);
        background-color: #f05454;
        color: #EEEEEE;
    } 
    .scene_btn_red:hover{
        background-color: #f16565;
    }
    
    .btn_side {
        grid-row: 4;
        grid-column: 6;
    
        margin-bottom: calc(0vh/9);
        display: inline-flex;
        justify-content: space-between;
    }
    
    .scene_side_btn{ 
        all: unset;
        width:calc(89vh/9);
        padding-top:calc(0vh/9);
        margin-bottom: calc(5vh/9);
        text-align: center;
        font-size: calc(27vh/9);
        font-weight: bold;
        border-radius: calc(8vh/9);
        font-family: Noto Sans KR;
        background-color: #DDDDDD;
        border: calc(3vh/9) solid #AAAAAA;
        color: #30475e;
        cursor: pointer;    
    }
    .scene_side_btn:hover{ 
        background-color: #EEEEEE;
    }
    .scene_side_btn.light{
        background-color: #FFE86F;
        border: calc(3vh/9) solid #DDC64D;
    }
    .scene_side_btn.light:hover{
        background-color: #FFE86F;
    }
    
    .textbox_name{
        all: unset;
        padding-left: calc(20vh/9);
        font-size: calc(27vh/9);
        grid-row: 6;
        grid-column: 2;
        margin: calc(7vh/9) calc(30vh/9) calc(0vh/9) calc(0vh/9);
        color:black;
        font-weight: 300;
        font-family: Noto Sans KR;
        background-color: #DDDDDD;
        border-radius: calc(8vh/9);   
        position: relative;
    }
    
    .textbox__name_block_btn{
        z-index: 110;
        right:calc(10vh/9);
        top:calc(-7vh/9);      
        width:calc(43vh/9);
        height: calc(60vh/9);
        padding: calc(20vh/9) calc(10vh/9) calc(10vh/9) calc(15vh/9);
        /* background-color: violet; */
        position: absolute; 
        transform:rotate(90deg);
        cursor: pointer;
    
    }
    
    .textbox__name_block_btn:hover{
        opacity: 0.5;
    }
    .textbox_bottom{
        all: unset;
        grid-row: 7;
        grid-column: 2/span 3;
        position: relative;
    }
    textarea::placeholder{
        font-size: calc(27vh/9);    
    }
    .textbox_script{ 
        all: unset;
        padding:calc(15vh/9) calc(30vh/9) calc(15vh/9) calc(30vh/9);
        font-size: calc(18vh/9);
        width: 63%;
        height: calc(80vh/9);
        margin-top: calc(10vh/9);
        margin-bottom: calc(10vh/9);
        color:black;
        font-weight: 300;
        font-family: Noto Sans KR;
        background-color: #fff;
        border-radius: calc(8vh/9); 
    }
    
    .textbox_script.true{   
        /* all:unset;
        background-color: red;  
        position: absolute;
        top:-55vh;
        left:-14.2vh;
        width:100vw;
        height:100vh;
        z-index: 100; */
    }
    

    .enter{
        all: unset;
        position: absolute;
        right:calc(0vh/9);
        margin-top: calc(10vh/9);
        padding-bottom: calc(45vh/9);
        margin-right: calc(100vh/9);
        margin-top: calc(15vh/9);
        width:calc(140vh/9);
        height:calc(55vh/9);
        background-color: #DDDDDD;
        border:calc(3vh/9) solid #AAAAAA;
        font-family: Noto Sans KR;
        border-radius: calc(12vh/9);
        font-size: calc(27vh/9);
        font-weight: bold;
        text-align: center;
        cursor: pointer;
    }
    .enter:hover{
        background-color: #EEEEEE;
    }
    .options{
        all:unset;
        width:calc(520vh/9);
        margin-top: calc(12vh/9);
        grid-row: 6;
        grid-column: 3/ span 2;
        justify-content: flex-end;
        display: inline-flex;
    }
    .scenemake_volume{
        margin-right: calc(30vh/9);
        /* width:50%; */
        width:20%;
        display: inline-flex;
    }
    .scenemake_volume_text{
        position: relative;
        top:calc(0vh/9);
        width:80%;
        color:#DDDDDD;
        font-family: Noto Sans KR;
        font-size: calc(27vh/9);
        cursor:default;
    }
    
    .backgroundImg {
        z-index: 95;
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin:0;
        border-radius: 0;
        position: relative;
      }
      .scenemake_tooltip_container{
        position: absolute;
        right:-4vh;
        bottom:7.5vh;
      /* display: inline-block; */
      font-size:calc(30vh/9);
      
    }
    .characterSidebar__container {
        all: unset;
        position: absolute;
        top: calc(10vh/9);
        padding-top:calc(10vh/9);
        width: calc(375vh/9);
        height: calc(145vh/9);
        /* background-color: darkgoldenrod; */
        margin: calc(0vh/9) calc(15vh/9) calc(0vh/9) calc(15vh/9);
        overflow-y: scroll;
        overflow-x: hidden;
      }
      
    .characterSidebar__container::-webkit-scrollbar {
        width: calc(10vh/9);
    }
    .characterSidebar__container::-webkit-scrollbar-thumb {
        border-radius: calc(10vh/9);
        border: calc(2vh/9) solid transparent;
    }
    .characterSidebar__container::-webkit-scrollbar-track {
        border-radius: calc(10vh/9);
        box-shadow: inset calc(0vh/9) calc(0vh/9) calc(5vh/9) white;
    }
      
      .characterSidebar_box {
        display: inline-block;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        margin: calc(0vh/9) calc(2vh/9) calc(0vh/9) calc(4vh/9);
        border-radius: 50%;
        border: calc(0.3vh/9) solid rgb(0, 0, 0, 0.4);
        background-color: #808080;
        object-fit: cover;
      }
      
      .characterSidebar_box.selected {
        background-color: #FFFFFF;
        border: calc(0.3vh/9) solid rgb(0, 0, 0, 0.7);
    }
    .characterSidebar_box.focused{
        box-shadow: calc(0vh/9) calc(0vh/9) calc(2vh/9) calc(3.5vh/9) #399cFF;  
      }
      .characterSidebar_box.selected.focused {
      background-color: #FFE86F;
    }
      
      .characterSidebar_image_box {
        width: calc(60vh/9);
        height: calc(60vh/9);
        opacity: 0.3;
    }
    .characterSidebar_image_box.selected{
      opacity: 1.0;
    }
      
      .characterSidebar_image_width {
        position: absolute;
        left: -15%;
        width: auto;
        height: 100%;
      }
      
      .characterSidebar_image_height {
        position: absolute;
        left: -5%;
        width: 100%;
        height: auto;
      }
      
      .characterSidebar_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .sidebar_add_esset_btn {
        margin: calc(20vh/9) calc(0vh/9) calc(0vh/9) calc(135vh/9);
        border-radius: calc(8vh/9);
        text-align: center;
        font-size: calc(100vh/9);
        font-family: Noto Sans KR;
        font-weight: 500;
        opacity: 0.8;
        cursor: pointer;
      }   

      .sidebar_add_esset_btn:hover {
        opacity: 1;
      }
    
      .sidebar_add_esset_btn_side{
      all: unset;
        z-index: 0;
        position: absolute;
        top: calc(-3vh/9);
        border:calc(3vh/9) solid #808080;
        border-left:calc(0vh/9);
        border-bottom: calc(0vh/9);
        right:calc(-52vh/9);
        padding: calc(60vh/9) calc(0vh/9) calc(0vh/9) calc(5vh/9);
        width: calc(50vh/9);
        height: calc(113vh/9);
        font-size: calc(50vh/9);
        /* opacity: 0.8; */
        cursor: pointer;
        background-color: #C4C4C4;
        border-radius: calc(0vh/9) calc(10vh/9) calc(10vh/9) calc(0vh/9);
      }
      
      .sidebar_add_esset_btn_side:hover{
        color: black;
      }
      
      .sidebar_line {
        position: absolute;
        top: calc(173vh/9);
        height: calc(2vh/9);
        opacity: 0.7;
        background-color: #808080;
      }

      .sidebar__container{
        margin: calc(15vh/9) calc(9vh/9) calc(15vh/9) calc(10vh/9);
        color: rgba(0, 0, 0, 0.65);
        /* background-color: tomato; */
        overflow-y: scroll;
        overflow-x: hidden;
      }
      
      .sidebar__container::-webkit-scrollbar {
        width: calc(10vh/9);
        }   
        .sidebar__container::-webkit-scrollbar-thumb {
            border-radius: calc(10vh/9);
            border: calc(2vh/9) solid transparent;
        }
        .sidebar__container::-webkit-scrollbar-track {
            border-radius: calc(10vh/9);
            box-shadow: inset calc(0vh/9) calc(0vh/9) calc(5vh/9) white;
        }
      
      .backSidebar_box{  
        display: inline-block;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        margin-right: calc(3vh/9);
        /* border-radius: 8vh/9); */
        /* border: 0.5vh/9) solid rgb(0,0,0,0.2); */
        background-color: #747474;
      }
      
      .backSidebar_box:hover{
        opacity: 0.9;
      }
      
      .backSidebar_image_container{  
        width: calc(119vh/9);
        height:calc(100vh/9);
        border:calc(5vh/9) solid #DDDDDD;
      }
      .backSidebar_image_container.true{  
        border:calc(5vh/9) solid #399CFF;
      }
      
      .backSidebar_image{
        width: 100%; 
        height: 100%; 
        object-fit: cover;
      }      
      .bgmSidebar_box{
        /* display: inline-block; */
        font-family: Noto Sans KR;
        font-size: calc(25vh/9);
        padding: calc(5vh/9);
        height: calc(53vh/9);
        font-weight: bold;
        color: #222831;
        overflow: hidden;
        text-overflow:ellipsis;
        position: relative;
        /* border-radius: 8vh/9); */
        /* border: 0.5vh/9) solid rgb(0,0,0,0.2); */    
        cursor: pointer;
      }
      .bgmSidebar_box:hover{
        background-color: #D5D5D5;
        color:black;
      }
      .bgmSidebar_box.true{
        color:#399cff;
      }
      
    .modal {
        background-color: #C4C4C4;
        color: #747474;
        display: flex;
        flex-direction: column;
        position: relative;
        height:calc(570vh/9);
        border-radius: calc(10vh/9);
        border:calc(3vh/9) solid #808080;
    }
      
      .main_img {
        height: calc(20vh/9);
        width: calc(20vh/9);
        object-fit: cover;
      }
    
      .characterModal__text_line {
        margin-left: calc(15vh/9);
        margin-right: calc(15vh/9);
        height: calc(2.5vh/9);
        opacity: 0.7;
        background-color: #222831;
      }   
      .characterList__container{
        background-color: violet;
        margin: calc(15vh/9) calc(15vh/9) calc(0vh/9) calc(15vh/9);
        display: flex;
        justify-content: space-around;
        /* width: auto; */
    }
    
    .characterList_Info {
        cursor: pointer;
        overflow: hidden;
        position: relative;
        width: calc(70vh/9);
        height: calc(70vh/9);
        border-radius: 50%;
        border: calc(0.5vh/9) solid rgb(0,0,0,0.4);
        background-color: #808080;
    }
    
    .characterList_image_width {
        position: absolute;
        left:-15%;
        width:auto;
        height: 100%;
    }
    
    
    .characterList_image_height {
        position: absolute;
        left:-5%;
        width:100%;
        height: auto;
    }  
    
    
    .characterList_Info:hover {
        box-shadow: calc(0vh/9) calc(0vh/9) calc(0vh/9) calc(3vh/9) #FFE86F;  
    }    
    
    .image_array__container{
        position: absolute;
        top:calc(170vh/9);
        width:calc(380vh/9);
        height:calc(370vh/9);
        /* border: 1vh/9) solid rgb(0,0,0,0.4); */
        /* border-radius: 10vh/9); */
        margin: calc(15vh/9) calc(15vh/9) calc(15vh/9) calc(10vh/9);
        /* background-color: tomato; */
    }
    

    .image_array__container::-webkit-scrollbar {
        width: calc(10vh/9);
    }   
    .image_array__container::-webkit-scrollbar-thumb {
        border-radius: calc(10vh/9);
        border: calc(2vh/9) solid transparent;
    }
    .image_array__container::-webkit-scrollbar-track {
        border-radius: calc(10vh/9);
        box-shadow: inset calc(0vh/9) calc(0vh/9) calc(5vh/9) white;
    }
    
    .image_array__box{
        display: inline-block;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        width: calc(120vh/9);
        margin-right: calc(3vh/9);
        height:calc(100vh/9);
        /* border-radius: 8vh/9); */
        /* border: 0.5vh/9) solid rgb(0,0,0,0.2); */
        border:calc(5vh/9) solid #DDDDDD;
        background-color: #747474;
    } 
    .image_array__box.selected{
        border:calc(5vh/9) solid #399CFF;
    }
    .image_array__box:hover{
        opacity: 0.9;
    }
    .image_array_image{
        width: 100%;
        height: 100%;
        object-fit: cover;    
    }
      
    .image_array_image_width {
        width:auto;
        height: 100%;
    } 
    
    .image_array_image_height {
        width:100%;
        height: auto;
    }  
    
    .main_img {
      height: calc(20vh/9);
      width: calc(20vh/9);
      object-fit: cover;
    }
 
      .rangeslider-horizontal {
        height: calc(10vh/9);
        border-radius: calc(7vh/9);
        cursor: pointer;
      }
      .rangeslider-horizontal .rangeslider__handle {
        width: calc(15vh/9);
        height: calc(15vh/9);
        border-radius: calc(13vh/9);
      }
      .dropzone{
        all:unset;
        font-family: Noto Sans KR;
        width: 100%;
        height: 100%;
        border-radius: calc(8vh/9);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-Content: center;
        border: 0.1rem solid lightgray;
    }
    .dropzone:hover{
        opacity: 0.95;
        color:black;
        border: 0.1rem solid lightgray;
        cursor:pointer;
    } 
    
    .dropzone-icon{
       font-size: 12vh;    
    }
    
    .thumbnail__container{
        width : 100%;
        height : 100%;
        overflow: hidden;
    
    }
    .thumbnail__img{
        position: relative;
        width : 100%;
        object-fit: cover;    
        
    }
    .thumbnail__msg{
        margin-top : calc(10vh/9);
        margin-bottom: calc(10vh/9);
        font-size: 2.5vh;
    }
    .thumbnail__msg.true{
        font-size: 0vh;        
    }
    .characterTab-container{
        position: absolute;
        top:calc(70vh/9);
        width:calc(1000vh/9);
        height:calc(540vh/9);
        margin: auto;
        left:50%;
        transform: translate(-50%);
    }
    
    .characterTab_profile_image{
        width:calc(250vh/9);
        height:calc(250vh/9);    
        overflow: hidden;
        position: absolute;
        left:calc(50vh/9);
        top:calc(30vh/9);
        /* margin: 10vh/9) 16vh/9) 10vh/9) 50vh/9); */
        background-color: #ffffff;
        border: calc(0.1vh/9) solid #ffffff;
    }
    
    .characterTab_profile_image:hover{
        border: calc(0.1vh/9) solid rgb(0,0,0,0.1);
    }
    
    .characterTab_cards_Box{
        width:calc(630vh/9);
        height:calc(250vh/9);    
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        left:calc(320vh/9);
        top:calc(310vh/9);
        /* background-color: pink; */
    }
    .characterTab_cards_Box::-webkit-scrollbar {
        width: calc(10vh/9);
      }
    .characterTab_cards_Box::-webkit-scrollbar-thumb {
        border-radius: calc(10vh/9);
        border: calc(2vh/9) solid transparent;
    }
    .characterTab_cards_Box::-webkit-scrollbar-track {
        border-radius: calc(10vh/9);
        box-shadow: inset calc(0vh/9) calc(0vh/9) calc(5vh/9) white;
    }
    
    .characterTab_cards{
        display: inline-block;
        width:calc(100vh/9);
        height:calc(85vh/9);    
        overflow: hidden;
        margin:calc(0vh/9) calc(3vh/9) calc(3vh/9) calc(0vh/9);
        background-color: #ffffff;
        border: calc(0.1vh/9) solid #ffffff;
    }
    
    .characterTab_cards:hover{
        border: calc(0.1vh/9) solid rgb(0,0,0,0.1);
    }
    
    .characterTab_profile_name
    {
        all:unset;    
        position: absolute;
        font-family: Noto Sans KR;
        left: calc(320vh/9);
        top: calc(85vh/9);
        font-size: calc(27vh/9);
        width:calc(410vh/9);
        height: calc(35vh/9);
        color:black;
        padding-left:calc(15vh/9);
        font-weight: bold;
        background-color: #ffffff;
    }
    .characterTab_profile_name:hover{
        opacity: 0.8;
    }
    
    .characterTab_profile_text{
        all:unset;
        position: absolute;
        font-family: Noto Sans KR;
        left: calc(320vh/9);
        top: calc(120vh/9);
        width:calc(600vh/9);
        height:calc(135vh/9);
        margin: calc(10vh/9) calc(50vh/9) calc(10vh/9) calc(0vh/9);
        padding: calc(15vh/9) calc(15vh/9) calc(0vh/9) calc(15vh/9);
        color:black;
        font-size: calc(27vh/9); 
        background-color: #ffffff;
    }
    .characterTab_profile_text::-webkit-scrollbar {
        width: calc(10vh/9);
      }
    .characterTab_profile_text::-webkit-scrollbar-thumb {
        border-radius: calc(10vh/9);
        border: calc(2vh/9) solid transparent;
    }
    .characterTab_profile_text::-webkit-scrollbar-track {
        border-radius: calc(10vh/9);
        box-shadow: inset calc(0vh/9) calc(0vh/9) calc(5vh/9) white;
    }
    .characterTab_profile_text:hover{
        opacity: 0.8;
    }
    .characterTab_image{
        width: 100%;
        height: 100%;
        object-fit: cover;    
    }
    .characterTab_image_width{
        width:100%;
        height:100%;
        object-fit: scale-down;
    }
    .characterTab_image_height{
        width:100%;    
        height:auto;
        object-fit: cover;
    }
    
    .characterTab_char_dropzone{   
        position: absolute;    
        top: calc(330vh/9);
        width:calc(210vh/9);
        height:calc(210vh/9);
        left:calc(70vh/9);    
    }
    
    
    .characterTab_empty_dropzone{
        margin:calc(120vh/9) calc(50vh/9) calc(0vh/9) calc(50vh/9);
        width:90%;
        height: 60%;
    }
    
    .characterTab_leftarrow{
        all:unset;
        position: absolute;
        left:calc(-15vh/9);
        top:calc(260vh/9);
        transform: scaleX(-1);  
    }
    .characterTab_leftarrow>svg{
        width: calc(50vh/9);
        height: calc(50vh/9);
    }
    .characterTab_leftarrow:hover{
        cursor: pointer;
        opacity: 0.7;
    }
    
    .characterTab_rightarrow{
        all:unset;
        position: absolute;
        right:calc(-15vh/9);
        top:calc(260vh/9);
    }
    .characterTab_rightarrow>svg{
        width: calc(50vh/9);
        height: calc(50vh/9);
    }
    
    .characterTab_rightarrow:hover{
        cursor: pointer;
        opacity: 0.7;
    }
    
    .characterTab_pagenum{
        position: absolute;
        top : calc(25vh/9);
        right:calc(60vh/9);
        font-size: calc(35vh/9);
        font-weight: bold;
    }
    
    .characterTab_instruct{
        position: absolute;
        font-family: Noto Sans KR;
        top : calc(25vh/9);
        right:calc(60vh/9);
        font-size: calc(35vh/9);
        font-weight: bold;
    }

    .backgroundTab_container{
        all:unset;
        position: absolute;
        top:calc(70vh/9);
        margin: calc(0vh/9) calc(50vh/9) calc(0vh/9) calc(50vh/9);
        width:90%;
        height:90%;
        /* background-color: aqua; */
    }
    
    .backgroundTab_dropzone{
        height: 36%;
    }
    .backgroundTab_Box{
        margin-top: calc(20vh/9);
        margin-left:calc(8vh/9);
        width:100%;
        height: 63%;
        overflow-y:scroll;
        overflow-x:hidden;
        /* background-color: peru; */
    }
    
    .backgroundTab_Box::-webkit-scrollbar {
        width: calc(10vh/9);
      }
    .backgroundTab_Box::-webkit-scrollbar-thumb {
        border-radius: calc(10vh/9);
        border: calc(2vh/9) solid transparent;
    }
    .backgroundTab_Box::-webkit-scrollbar-track {
        border-radius: calc(10vh/9);
        box-shadow: inset calc(0vh/9) calc(0vh/9) calc(5vh/9) white;
    }
    
    .backgroundTab_image_box{
        display: inline-block;
        width:calc(290vh/9);
        height:calc(168vh/9);    
        margin:calc(0vh/9) calc(3vh/9) calc(3vh/9) calc(0vh/9);        
        /* background-color: #ffffff; */
        /* border: 0.1vh/9) solid #ffffff; */
      
        /* background-color: red; */
    }
    
    .backgroundTab_image{
        width:calc(298vh/9);
        height:calc(167vh/9);
        object-fit: cover;
        border: calc(0.1vh/9) solid #ffffff;
    }
    .backgroundTab_image:hover{
        border: calc(0.1vh/9) solid rgb(0,0,0,0.8);
        /* opacity: 0.95; */
    }

.bgmTab_container{
    all:unset;
    position: absolute;
    top:calc(70vh/9);
    margin: calc(0vh/9) calc(50vh/9) calc(0vh/9) calc(50vh/9);
    width:90%;
    height:90%;
    /* background-color: aqua; */
}

.bgmTab_dropzone{
    height: 36%;
}
.bgmTab_Box{
    margin: calc(20vh/9) calc(50vh/9) calc(0vh/9) calc(50vh/9);
    width:90%;
    height: calc(370vh/9);
    /* background-color: peru; */
}

.bgmTab_Box::-webkit-scrollbar {
    width: calc(10vh/9);
  }
.bgmTab_Box::-webkit-scrollbar-thumb {
    border-radius: calc(10vh/9);
    border: calc(2vh/9) solid transparent;
}
.bgmTab_Box::-webkit-scrollbar-track {
    border-radius: calc(10vh/9);
    box-shadow: inset calc(0vh/9) calc(0vh/9) calc(5vh/9) white;
}

.bgmTab_text_box{
    padding: calc(0vh/9) calc(20vh/9) calc(10vh/9) calc(20vh/9);
    font-family: Noto Sans KR;
    font-weight: bold;
    font-size: calc(27vh/9);
    /* background-color: teal; */
    cursor: pointer;
}
.bgmTab_text_box.true{
    color:#399cff;
    opacity: 0.8;
}
.bgmTab_text_box.false:hover{
    color:black;
}
.bgmTab_text_box:hover{
    background-color: #ddd;
    opacity: 1.0;
}

.bgmTab_image{
    object-fit: cover;
    border: calc(0.1vh/9) solid #ffffff;
}
.bgmTab_image:hover{
    border: calc(0.1vh/9) solid rgb(0,0,0,0.8);
    /* opacity: 0.95; */
}
.scenemake_essetmodal.ant-modal{
    top:calc(45vh/9);
    width:calc(1050vh/9) !important;
    height: calc(0vh/9);
    justify-content : center;
  }
  .scenemake_essetmodal>.ant-modal-content{
    height: calc(790vh/9);
    /* background-color: teal !important; */
  }
  .scenemake_essetmodal>.ant-modal-content>.ant-modal-body{
    height: calc(720vh/9);
    padding:calc(30vh/9);
    /* background-color: orange !important; */
  }
  .scenemake_essetmodal>.ant-modal-content>.ant-modal-footer{
    height: calc(70vh/9);
    padding:0vh;
    /* background-color: greenyellow !important; */
  }
  
  .scenemake_essetmodal>.ant-modal-content>.ant-modal-footer>div>.ant-btn{
      padding: 0vh !important;
      width:calc(100vh/9);
      height:calc(40vh/9);
      font-size: calc(27vh/9);
      margin-right: calc(10vh/9);
      margin-top: calc(15vh/9);
      border-color: #AAAAAA;
}
  .scenemake_essetmodal>.ant-modal-content>.ant-modal-footer>div>.ant-btn.ant-btn-primary{
    width:calc(110vh/9);
    margin: 0vh !important;
    margin-right: calc(10vh/9) !important;
    padding: 0vh !important;
    height:calc(40vh/9);
    font-size: calc(27vh/9);
    border-color: #10253C;
  }
  
  .sceenmake_essetmodal_container{
    
    height:calc(630vh/9);
    position: relative;
  }
  
  
  .tabs {  
    position: absolute;
    top:calc(0vh/9);
    width:100%;
    height:calc(50vh/9);
    display: flex;
    text-align: center;
    color: #dddddd;
    background-color: #30475e;
    border-bottom: calc(4vh/9) solid #222831;
  }
  .tab {
    all:unset;
    font-family: Noto Sans KR;  
    font-size: calc(27vh/9);
    font-weight: bold;
    flex: 1 0 auto;
    padding: 0.5vh calc(12vh/9);  
    cursor: pointer;
  }
  
  .tab:hover{
    background-color: #41586f;
  }
  .is-selected {
    background-color: #222831;
  }
  .is-selected:hover{
    background-color: #222831;
  }

  .scenemake_uploadmodal.ant-modal{
    top:calc(45vh/9);
    width:calc(700vh/9) !important;
    height: calc(0vh/9);
    justify-content : center;
  }
  .scenemake_uploadmodal>.ant-modal-content{
    height: calc(790vh/9);
    /* background-color: teal !important; */
  }
  .scenemake_uploadmodal>.ant-modal-content>.ant-modal-body{
    height: calc(720vh/9);
    padding:calc(30vh/9);
    /* background-color: orange !important; */
  }
  .scenemake_uploadmodal>.ant-modal-content>.ant-modal-footer{
    height: calc(70vh/9);
    padding:0vh;
    /* background-color: greenyellow !important; */
  }
  
  .scenemake_uploadmodal>.ant-modal-content>.ant-modal-footer>div>.ant-btn{
      padding: 0vh !important;
      width:calc(100vh/9);
      height:calc(40vh/9);
      font-size: calc(27vh/9);
      margin-right: calc(10vh/9);
      margin-top: calc(15vh/9);
      border-color: #AAAAAA;
}
  .scenemake_uploadmodal>.ant-modal-content>.ant-modal-footer>div>.ant-btn.ant-btn-primary{
    width:calc(110vh/9);
    margin: 0vh !important;
    margin-right: calc(10vh/9) !important;
    padding: 0vh !important;
    height:calc(40vh/9);
    font-size: calc(27vh/9);
    border-color: #10253C;
  }
  

  .scenemake_uploadmodal_form_container{
    font-family: Noto Sans KR;
    font-size: calc(25vh/9);
    font-weight: bold;  
}

.scenemake_uploadmodal_form{
    display:flex;
    justify-content:center;
    align-items:center;

}
.scenemake_dropzone_container{
    display:flex;
    margin-top : calc(20vh/9);
    width: calc(320vh/9);
    height: calc(200vh/9);
    justify-content: center;
    align-items: center;

}
.scenemake_uploadmodal_category{
    position: absolute;
    margin-top: calc(5vh/9);
    right:calc(30vh/9);
    width : calc(170vh/9);
    background-color: #DDDDDD;
    cursor: pointer;
    border:calc(0.1vh/9) solid rgb(0,0,0,0.1);
    font-family: Noto Sans KR;
    font-size: calc(27vh/9);
    font-weight: bold;  
}

.scenemake_uploadmodal_detail{
    height:calc(250vh/9);
    display : flex;
    flex-direction: column;
    /* justify-content : space-between */
}
.scenemake_uploadmodal_detail_title_container{
    margin-top : calc(45vh/9);
    font-family: Noto Sans KR;
    font-size: calc(20vh/9);
    font-weight: bold;  
}
.scenemake_uploadmodal_detail_description_container{
    margin-top : calc(25vh/9);
    font-family: Noto Sans KR;
    font-size: calc(20vh/9);
    font-weight: bold;  
}
.scenemake_uploadmodal_detail_description{
    all:unset;    
    padding:calc(15vh/9) calc(15vh/9) calc(10vh/9) calc(15vh/9);
    width:95%;
    height: calc(90vh/9);
    background-color: #DDDDDD;
}
.scenemake_uploadmodal_detail_category_container{
}

.scenemake_uploadmodal_detail_title{
    all:unset;
    padding:calc(0vh/9) calc(15vh/9) calc(0vh/9) calc(15vh/9);
    font-family: Noto Sans KR;
    font-size: calc(20vh/9);
    font-weight: bold;  
    width:95%;
    border-radius: calc(4vh/9);
    background-color: #DDDDDD;
}

.ending_modal.ant-modal{
    top:calc(45vh/9);
    width:calc(700vh/9) !important;
    height: 0vh;
}
.ending_modal>.ant-modal-content{
    top:calc(150vh/9);
    height: calc(420vh/9);
}
.ending_modal>.ant-modal-content>.ant-modal-body{
    height: calc(370vh/9);
    display: flex;
    justify-content: space-around;
    padding:calc(20vh/9);
    margin:0vh;
  }
  .ending_modal>.ant-modal-content>.ant-modal-header{
    height: calc(70vh/9);
    padding:calc(10vh/9);
    margin:0vh;
  }
  .ending_modal>.ant-modal-content>.ant-modal-header>.ant-modal-title{
    height: 100%;
    font-size: calc(30vh/9);
    padding:0vh;
    margin:0vh;
  }

.ending_modal_cancel_btn{
    position: absolute;
    right:calc(15vh/9);
    top:calc(10vh/9);
    font-size: calc(20vh/9);
    font-weight: bold;
    cursor: pointer;
}
.ending_modal_ending_btn{
    width:calc(270vh/9);
    height:calc(270vh/9);
    margin-right: calc(15vh/9);
    opacity: 0.85;
    cursor: pointer;
    text-align: center;
    font-size: calc(27vh/9);
    font-family: Noto Sans KR;
    font-weight: bold;
    background-color: white;
    border: calc(1vh/9) solid white;
}
.ending_modal_ending_btn>svg{
    width:calc(270vh/9);
    height:calc(270vh/9);
}
.ending_modal_ending_btn:hover{
    opacity: 1.0;
    border: calc(1vh/9) solid black;
}

.ending_modal_choice_btn{
    width:calc(270vh/9);
    height:calc(270vh/9);
    opacity: 0.8;
    cursor: pointer;
    text-align: center;
    font-size: calc(27vh/9);
    font-family: Noto Sans KR;
    font-weight: bold;
    background-color: white;
    border: calc(1vh/9) solid white;
}
.ending_modal_choice_container>svg{
    width:calc(270vh/9);
    height:calc(270vh/9);
}
.ending_modal_choice_btn:hover{
    opacity: 1.0;
    border: calc(1vh/9) solid black;
}

.ending_modal_warning_sign{
    padding: calc(7vh/9) calc(10vh/9) calc(0vh/9) calc(5vh/9);
}

.ending_modal_warning_textarea{
    font-family: Noto Sans KR;
    font-weight: bold;
}

.ending_modal_description{
    position: absolute;
    top: 0px;
    height: calc(0vh/9);
    width: calc(270vh/9);
    padding: calc(40vh/9);
    font-size: 0vh;
    /* background-color: black; */
    color: white;
    opacity: 0;
    transition: all 0.3s ease-in-out ;
}
.ending_modal_description:hover {
    opacity: 1.0;
}
.gamePlay__writer{  
    font-size:2vw;
  }
  .click_icon_container {
    bottom: 13%;
    }
    .choice_box {
        font-size: 3vmin;
    }
    .choice_box>div>p{
        font-size:2.5vmin;
    }
    .choice_box.true{
        font-size: 3.5vmin;
    }
    .choice_box.true>div>p{
        font-size:2.8vmin;
    }
    .gamePlay__btn:hover {
        color: #ffffff;
      }
}

@media (max-width:850px) and (orientation:portrait){    
    .gamePlay__btn {
        margin-right:0.7vh;
      }
    .gamePlay__btn:hover {
        color: #ffffff;
      }
    .choice_box {
        font-size: 2.5vmin;
    }
    .choice_box>div>p{
        font-size:1.7vmin;
    }
    .choice_box.true{
        font-size: 3vmin;
    }
    .choice_box.true>div>p{
        font-size:2vmin;
    }
    .gamePlay__writer{
        font-size:1.5vh;
    }
    .click_icon_container {
        bottom: 12.5%;
        right:1.5%;
    }
    .text_container {
        bottom: 12%;
    }
    .name_block.play {
        font-size: 3vmin;
        padding: calc(0vh/9) 3%;
        border: white solid calc(1vh/9);
        top: -2vmin;
        left: 5%;
    }
    .name_block.full {
        font-size: 3vmin;
        padding: calc(0vh/9) 3%;
        border: white solid calc(1vh/9);
        top: -2vmin;
        left: 5%;
    }
    .text_block{
        top: 26%;
    }
    .text_block.play {
        width: 85%;
        height: 10vmin;
        font-size: 3.2vmin;
    }
    .text_block.full {
        width: 85%;
        height: 10vmin;
        font-size: 3.2vmin;
    }

    .text_line.play{
        width: 80vmin;
    }
    .text_line.full{
        width: 80vmin;
    }
}