
.scenemake__container {
    /* height: 84vh; */
    width: 100vw;
    display: flex;
    background-color: rgb(255, 255, 255);
    position: absolute;
}
.scenemake__main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.scenemake__btn_sidebar {
    width: 60px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.scenemake__main_img {
    width: 500px;
    height: 350px;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.scenemake__character_container {
    position: absolute;
    bottom: 2%;
    width: 600px;
    height: 300px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.scene__characterBox {
    /* background-color: aquamarine;
  height: 60%; */
    width: 28%;
    height: auto;
    margin: 5px;
}

.scene__character {
    width: 100%;
}

.scenemake__main_script {
    position: absolute;
    bottom: 2%;
    width: 90%;
    height: 18vh;
    background-color: rgba(82, 82, 82, 0.685);
    border-radius: 3px;
    z-index: 104;
}

.sceneMake__text_container {
    z-index: 99;
    background-color: rgba(128, 128, 128, 0.815);
  
    padding: 2% 3% 1% 3%;
    border-radius: 1em;
  
    bottom: 0%;
    left: 15%;
    height: 40%;
    width: 67%;
  
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
  }
  .sceneMake__name_block {
    all: unset;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgba(182, 182, 182, 0.815);
    padding: 5px;
    border-radius: 2px;
  }

  .sceneMake__text_line {
    height: 1px;
    width: 100%;
    border-bottom: 2px solid rgb(235, 235, 235);
  }
  
  .sceneMake__text_block {
    all: unset;
    font-size: 1em;
    font-weight: bold;
    height: 80%;
    padding: 5px;
    border-radius: 2px;
    background-color: rgba(182, 182, 182, 0.815);
  }

  .sceneMake__sound_container {
      position: absolute;
      left: 1%;
      transform: translate(0%, 0%);
  }
  
.sceneMake__btn_container {
    padding: 5px;
    position: absolute;
    right: 10%;
    bottom: 0;
    transform: translate(0%, 0%);
    margin: 5px;
}

.sceneMake__btn_container > Button { 
    font-size: 0.5rem;
}

.sceneMake__btn_container > Button {
    margin: 3px;
}

.scenemake__sideBar_container {
    position: absolute;
    right: 0%;
    transform: translate(0%, 0%);
    display: flex;

}

.scenemake__toggleButton_container {
    width: 60px;
    background-color: rgb(44, 44, 44);
    height: 100%;
    -ms-overflow-style: none;
}

.scenemake__toggleButton_container::-webkit-scrollbar {
    display: none;
}

.scenemake__toggleBar {
    height: 100%;
    width: 150px;
    z-index: 102;
    overflow: auto;
    -ms-overflow-style: none;
}

.scenemake__toggleBar::-webkit-scrollbar {
    display: none;
}
  

.backgroundImg_container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
    transform-origin: center center;
    overflow: hidden;
    /* background-color: black; */
  }

  .backgroundImg {
    z-index: 97;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin:0;
    border-radius: 0;
  }
