.scenemake_uploadmodal.ant-modal{
    top:45px;
    width:730px !important;
    height: 0px;
    justify-content : center;
  }
  .scenemake_uploadmodal>.ant-modal-content{
    height: 670px;
  }
  .scenemake_uploadmodal>.ant-modal-content>.ant-modal-body{
    height: 620px;
  }
  .scenemake_uploadmodal>.ant-modal-content>.ant-modal-footer{
    height: 60px;
  }
  .scenemake_uploadmodal>.ant-modal-content>.ant-modal-footer>div>.ant-btn{
    transition:none;
  }
  .scenemake_uploadmodal>.ant-modal-content>.ant-modal-footer>div>.ant-btn.ant-btn-primary{
    transition:none;
  }

  .scenemake_uploadmodal_form_container{
    font-family: Noto Sans KR;
    font-size: 25px;
    font-weight: bold;  
}

.scenemake_uploadmodal_form{
    display:flex;
    justify-content:center;
    align-items:center;

}
.scenemake_dropzone_container{
    display:flex;
    margin-top : 20px;
    width: 320px;
    height: 180px;
    justify-content: center;
    align-items: center;

}
.scenemake_uploadmodal_category{
    position: absolute;
    margin-top: 5px;
    right:30px;
    width : 100px;
    background-color: #DDDDDD;
    cursor: pointer;
    border:0.1px solid rgb(0,0,0,0.1);
    font-family: Noto Sans KR;
    font-size: 17px;
    font-weight: bold;  
}

.scenemake_uploadmodal_detail{
    height:250px;
    display : flex;
    flex-direction: column;
    /* justify-content : space-between */
}
.scenemake_uploadmodal_detail_title_container{
    margin-top : 45px;
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: bold;  
}
.scenemake_uploadmodal_detail_description_container{
    margin-top : 25px;
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: bold;  
}
.scenemake_uploadmodal_detail_description{
    all:unset;    
    padding:15px 15px 10px 15px;
    width:95%;
    height: 90px;
    background-color: #DDDDDD;
}
.scenemake_uploadmodal_detail_category_container{
}

.scenemake_uploadmodal_detail_title{
    all:unset;
    padding:0px 15px 0px 15px;
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: bold;  
    width:95%;
    border-radius: 4px;
    background-color: #DDDDDD;
}
