.volumeController_container{
    width:150px;
    display: inline-flex;

}

.volumeController_icon_container{
    all:unset;
    margin-top :5px;
    color: rgb(182, 182, 182);
    padding: 5px 10px;
    cursor: pointer;
}
.volumeController_icon{
    font-size: 30px !important;
}

.volumeController_slide{
    width:100px;
}

@media (max-width:850px) and (orientation:landscape){
    .volumeController_container{
        width: 10%;
        /* width:75%; */
        height:100%;
    }
    
    .volumeController_icon_container{
        all:unset;
        transform: translateX(10%) !important;
        margin-top :calc(0vh/9);
        color: rgb(182, 182, 182);
        padding: calc(0vh/9) calc(0vh/9);
        background-color: tomato;
        cursor: pointer;
        display: flex; 
        align-items: center;
    }
    .volumeController_icon{
        position: absolute;
        font-size: 4vh !important;        
    }
    
    .volumeController_slide{
        width:0%;
        /* width:70%; */
        height:80%;
        margin-left: calc(45vh/9);
        display: flex; 
        align-items: center;
    }
}