.reply_container {
  display: none;
}

.textarea {
  color: black;
}

.comment_btn {
  cursor: pointer;
  all: unset;
  width: 6vw;
  max-width: 70px;
  height: 40px;
  color: black;
  background-color: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.comment_btn:hover {
  cursor: pointer;
  all: unset;
  width: 6vw;
  max-width: 70px;
  height: 40px;
  color: black;
  background-color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.edit_btn {
  cursor: pointer;
  all: unset;
  margin: 5px;
  width: 4vw;
  max-width: 50px;
  height: 8px;
  color: black;
  background-color: rgb(243, 243, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 1px;
  margin-left: 5px;
  border-radius: 5px;
}


.edit_btn:hover {
  cursor: pointer;
  all: unset;
  margin: 5px;
  width: 4vw;
  max-width: 50px;
  height: 8px;
  color: black;
  background-color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 1px;
  margin-left: 5px;
  border-radius: 5px;
}

.comment_input {

}

.edit_container {
  display: flex;
  width: 100%;
}

.container_box {
  width: 100%;
  margin: 5px;
  padding: 10px;
}

.comment_container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.comment_contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.img {
  border-radius: 50%;
  width: 40px;
  margin: 2px;
  margin-left: 5px;
}

.nickname {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
}

.content {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 10px;

}

.comment_info {
  display: flex;
  
}

.comment_like {
  margin: 3px;
}
.comment_dislike {
  margin: 3px;
}
.comment_displayReplyToggle {
  margin: 3px;
}
.comment_delete {
  margin: 3px;
}
.comment_writeReplyToggle{
  margin: 3px;
}

.form {
  width: 100%;
}