.dislike_popup{
    position: fixed;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 3, 0, 0.247);

    display: flex;
    justify-content: center;
    align-items: center;
}

.dislike_inner{
    background-color: wheat;
    width: 30vw;
    height: 18vh;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dislike_btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 2px;
}

.dislike_text {
    height: 10vh;
}

/* .dislike_inner{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 400px;
    border-radius: 1em;
    background-color: aliceblue;
    display: flex;
} */

.close_btn{
    position: relative;
    top:16px;
    left:5px;
    border-radius: 0.2em;
}