html,
body {
  /* height: 90%; */
  margin: 0;
}

.productscreen {
  background-color: blanchedalmond;
}

.background_img_container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
  transform-origin: center center;
  overflow: hidden;

  background-color: black;
}

.background_img {
  z-index: 97;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin:0;
  border-radius: 0;
}

.HistoryMap_btn{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
}
