.MuiSlider-colorPrimary{
  margin-top:7px !important;
}
.MuiSlider-rail{
  height:8px !important;
  border-radius: 4px !important;
  background-color: #999999 !important;
  opacity: 1 !important;
}
.MuiSlider-track{
  background-color: #DDDDDD !important;
  border-radius: 4px !important;
  height:8px !important;
}
.MuiSlider-thumb{
  margin-top: -2.5px !important;
  width:13px !important;
  height:13px !important;
  background-color: #DDDDDD !important;
} 
.MuiSlider-thumbColorPrimary{
  background-color: #DDDDDD !important;
}
.MuiSlider-thumb.Mui-focusVisible, 
.MuiSlider-thumb:hover {
  box-shadow: 0px 0px 0px 0px rgb(63 81 181 / 16%) !important;
}
.MuiSlider-thumb.MuiSlider-active {
  box-shadow: 0px 0px 0px 0px rgb(63 81 181 / 16%) !important;
}
@media (max-width:850px) and (orientation:landscape){
  .MuiSlider-root{
    height: 0vh !important;
    margin:0vh !important;
    padding: 0vh !important;
  } 
  .MuiSlider-colorPrimary{
    margin:0vh !important;
    padding: 0vh !important;
  }
  .MuiSlider-thumb::after{
    height:0vh !important;
    width: 0vh !important;
  }
  .MuiSlider-rail{
    margin:0vh !important;
    padding: 0vh !important;
    height:1vh !important;
  }
  .MuiSlider-track{
    margin:0vh !important;
    padding: 0vh !important;
    height:1vh !important;
  }
  .MuiSlider-thumb{
    height:0vh !important;
    width: 0vh !important;
  } 
}
