
.gamePlay__container_fullscreen{
  width: 100vw;
  height: calc(100vh);
  background-color: black;
  position: absolute;
  top: 0%;
  z-index: 00;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gamePlay__mainContainer_fullscreen{
  width: 100%;
  height: calc(100vh + 15%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.gamePlay__container{
  width: 100vw;
  height: calc(100vh + 15%);
  position: absolute;
  top: -15%;
}
.gamePlay__mainContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*toggle full screen*/
.gamePlay__btn_container {
    padding: 5px;
    position: absolute;
    left: 0%;
    bottom: 0%;
    transform: translate(0%, 0%);
    z-index: 200;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.gamePlay__btn {
  all: unset;
  color: rgb(182, 182, 182);
  padding: 5px 10px;
  border-radius: 3px;
  margin: 2px;
  font-size: bold;
  transition-duration: 0.2s;
  font-size: 0.9rem;
}

.gamePlay__btnClicked {
  all: unset;
  color: rgb(179, 149, 149);
  padding: 5px 10px;
  border-radius: 3px;
  margin: 2px;
  font-size: bold;
  transition-duration: 0.2s;
  font-size: 0.9rem;
}

.gamePlay__btn:hover {
  color: rgb(63, 63, 63);
  transition-duration: 0.2s;
  cursor: pointer;
}

.gamePlay__btnClicked:hover {
  transition-duration: 0.2s;
  cursor: pointer;
}

.backgroundImg_container_fullscreen{
  position: absolute;
  left: 50%;
  top: -3%;
  transform: translate(-50%, 10%);
  transform-origin: center center;
  overflow: hidden;
  transition-duration: 0.05s;

}
.backgroundImg_container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
  transform-origin: center center;
  overflow: hidden;
  transition-duration: 0.05s;
}

.backgroundImg {
  z-index: 97;
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin:0;
  border-radius: 0;
}