@keyframes basic {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
    opacity: 1;
  }
}


.loading_page {
  z-index: 300;
  background-color: black;
  opacity: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  position: absolute;
  /* animation: 1s ease-out 0s 1 slideLeft; */

  /* animation-duration: 1s; */
  /* animation-timing-function: ease-out; */
  /* animation-delay: 1s; */
  /* animation-iteration-count: 1; */
}

.loading_icon{
  z-index: 301;
  position: absolute;
  top: 50%;
  right: 50%;
  color:white;
  opacity: 1;
  animation: 2s ease-out 0s infinite rotateIcon;
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
