.characterImg {
  object-fit: cover;
  height:100%;
  width: auto;
  cursor: pointer;
  transition: 0.1s;
  margin: 2px;
}

/* .characterImg:hover {
  border: 0.22px solid rgb(255, 244, 244);
  transition: 0.1s;
  border-radius: 4px;
} */

.characterImg_clicked {
  border: 0.22px solid rgb(255, 244, 244);
  object-fit: cover;
  height:100%;
  width: auto;
  cursor: pointer;
  transition: 0.1s;
  margin: 2px;
  border-radius: 4px;
}

/* .characterImg_clicked:hover {
  border: 0.22px solid rgb(255, 244, 244);
  transition: 0.1s;
  border-radius: 4px;
}
 */



.character__container > .clicked {
  background-color: rgba(10, 10, 10, 0.699);
  transition: 0.1s;
  border-radius: 4px;
  /* box-shadow: 1px 1px 1px 1px rgb(51, 51, 51); */
  z-index: 109;
}


.character__container{
  position: relative;
}

.btn_sizing{
  /* display: none !important; */
  background-color: rgb(255, 255, 255);
  position: relative;
  top: -100%;
  height: 20px;
  width: 60px;
  font-size: 0.2rem;
  cursor: pointer;
  padding: 1px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.btn_sizing_clicked{
  background-color: rgb(80, 80, 80);
  position: relative;
  top: -100%;
  height: 20px;
  width: 60px;
  font-size: 0.2rem;
  cursor: pointer;
  padding: 1px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;

}

.btn_moving{
  /* display: none !important; */
  background-color: rgb(255, 255, 255);
  position: relative;
  top: -100%;
  height: 20px;
  width: 60px;
  font-size: 0.2rem;
  cursor: pointer;
  padding: 1px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.btn_moving_clicked {
  background-color: rgb(88, 88, 88);
  position: relative;
  top: -100%;
  height: 20px;
  width: 60px;
  font-size: 0.2rem;
  cursor: pointer;
  padding: 1px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;

}
.CharacterBlock {
  z-index: 98;
  height: 100%;
  width: 0%;
  position: absolute;
}