.characterTab-container{
    position: absolute;
    top:70px;
    width:1000px;
    height:540px;
    background-color: blueviolet;
}

.characterTab_profile_image{
    width:250px;
    height:250px;    
    overflow: hidden;
    position: absolute;
    left:50px;
    top:30px;
    /* margin: 10px 16px 10px 50px; */
    background-color: #ffffff;
}
.characterTab_profile_name
{
    all:unset;
    position: absolute;
    left: 320px;
    top: 85px;
    font-size: 18px;
    width:200px;
    height: 30px;
    color:black;
    padding-left:15px;
    font-weight: bold;
    background-color: #ffffff;
}
.characterTab_profile_text{
    all:unset;
    position: absolute;
    left: 320px;
    top: 120px;
    width:600px;
    height:135px;
    margin: 10px 50px 10px 0px;
    padding: 15px 15px 0px 15px;
    color:black;
    font-size: 18px;    
    background-color: #ffffff;
}
textarea::placeholder{
    font-size: 18px;    
}

.characterTab_image_width{
    width:auto;
    height:100%;
}
.characterTab_image_height{
    width:100%;
    height:auto;
}

.characterTab_dropzone_area{   
    position: absolute;
    /* top: 300px; */
    width:250px;
    height:250px;
    overflow: hidden;
    background-color: blue;
}

.characterTab_left-arrow{
    all:unset;
    position: absolute;
    top:260px;
    transform: scaleX(-1);  
    cursor: pointer;
}
.characterTab_left-arrow:hover{

}

.characterTab_right-arrow{
    all:unset;
    position: absolute;
    right:0px;
    top:260px;
    cursor: pointer;
}

.characterTab_right-arrow:hover{

}