/* img{
  height: 100%;
  width: 110px;
  margin: 5px;
  border-radius: 10px;
} */

.backSidebar__container{
  margin: 15px 10px 15px 15px;
  color: rgba(0, 0, 0, 0.65);
  /* background-color: tomato; */
  overflow: scroll;
}

.backSidebar__container::-webkit-scrollbar {
  display: none;
}

.backSidebar_box{  
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-right: 5px;
  /* border-radius: 8px; */
  /* border: 0.5px solid rgb(0,0,0,0.2); */
  background-color: #747474;
}

.backSidebar_box:hover{
  opacity: 0.9;
}

.backSidebar_image_container{  
  width: 120px;
  height:100px;
  border:5px solid #DDDDDD;
}
.backSidebar_image_container.true{  
  border:5px solid #399CFF;
}

.backSidebar_image{
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}