.characterSidebar__container {
  all: unset;
  position: absolute;
  top: 10px;
  padding-top:10px;
  width: 370px;
  height: 145px;
  /* background-color: darkgoldenrod; */
  margin: 0px 15px 0px 15px;
  overflow: scroll;
}

.characterSidebar__container::-webkit-scrollbar {
  display: none;
}

.characterSidebar_box {
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin: 0px 2px 0px 4px;
  border-radius: 50%;
  border: 0.3px solid rgb(0, 0, 0, 0.2);
  background-color: #808080;
  object-fit: cover;
}

.characterSidebar_box.selected {
  /* -webkit-box-shadow: 0px 0px 8px 2px #399cFF; */
  background-color: #FFFFFF;
  border: 0.3px solid rgb(0, 0, 0, 0.7);
}
.characterSidebar_box.focused{
  box-shadow: 0px 0px 2px 3.5px #399cFF;  
}
.characterSidebar_box.selected.focused {
  background-color: #FFE86F;
  }
.characterSidebar_image_box {
  width: 64px;
  height: 64px;
  opacity: 0.7;
}
.characterSidebar_image_box.selected{
  opacity: 1.0;
}
.characterSidebar_image_width {
  position: absolute;
  left: -15%;
  width: auto;
  height: 100%;
}

.characterSidebar_image_height {
  position: absolute;
  left: -5%;
  width: 100%;
  height: auto;
}

.characterSidebar_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar_add_esset_btn {
  margin: 20px 0px 0px 135px;
  border-radius: 8px;
  text-align: center;
  font-size: 100px;
  font-family: Noto Sans KR;
  font-weight: 500;
  opacity: 0.8;
  cursor: pointer;
}

.sidebar_add_esset_btn:hover {
  opacity: 1;
}

.sidebar_add_esset_btn_side{
  all: unset;
  z-index: 0;
  position: absolute;
  top: -3px;
  border:3px solid #808080;
  border-left:0px;
  border-bottom: 0px;
  right:-52px;
  padding: 60px 0px 0px 5px;
  width: 50px;
  height: 113px;
  font-size: 50px;
  /* opacity: 0.8; */
  cursor: pointer;
  background-color: #C4C4C4;
  border-radius: 0px 10px 10px 0px;
}

.sidebar_add_esset_btn_side:hover{
  color: black;
}

.sidebar_line {
  position: absolute;
  top: 173px;
  height: 3px;
  width: 100%;
  opacity: 0.7;
  background-color: #808080;
}
