.test {
  background-color: #ae00ff;
  background-color: #ff0000;
  background-color: #dd521b;
  background-color: #f68031;
  background-color: #d84400;
  background-color: #8a000b;
  background-color: #d84400;



  background-color: #6d07f3;
  background-color: #fb6500;
  background-color: #e05200;


  color: #ffbb01;

  color: bisque;
}