.characterInfo__container {
  display: flex;
  flex-direction: column;
  width:20% /* same .modal_Character */
}

.characterList__container{
  display: flex;
  width: auto;
}

.characterList_Info {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.characterList_Image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 3.5px rgba(191, 188, 188, 0.3);
}

.characterList_Image:hover {
  box-shadow: 0px 0px 10px 5px rgba(191, 188, 188, 0.3);
  
}

.characterList_Text{
  font-size: 0.3rem;
}

.image_array__container{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 300px;
  overflow-x: auto;
  white-space:nowrap;
  -ms-overflow-style: none;
}

.image_array__container::-webkit-scrollbar {
  display: none;
}

.main_img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}