.admin{
  height: 100px;
  position: relative;
  bottom: 780px;
  display: flex;
  align-items: center;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  color: gray;
  padding-left: 50px;
}

.admin_btn{
  cursor: pointer;
  margin-bottom: 20px;
  width: 130px;
  height: 36px;
  background: rgb(88, 88, 88);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin_btn:hover{
  color: white;
  cursor: pointer;  
  margin-bottom: 20px;
  width: 130px;
  height: 36px;
  background: rgb(96, 96, 96);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dragDrop_container{
  width: 100%;
  height: 700px;
  margin: auto;
  border: 2.52px solid rgba(255, 244, 244, 0.534);
  border-radius: 5px;
  overflow: hidden;
}

.adminPage__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  color: #FFFFFF;
  width: 1152px;
  /* width: 1440px; */
  margin: auto;
}

.adminPage__gradation {
  width: 1180px;
  height: 200px;
  position: relative;
  bottom: 200px;
  left:-2px;
  background: linear-gradient( to top, #222831 , #22283100);
  z-index: 1;
}


.adminPage__thumbnail .container{
  width: 100%;
  height: 605px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 36px;
  color: #E5E5E5;
  object-fit : contain;
}


.adminPage__thumbnail {
  width: 100%;
  /* height: 790px; */
  height: 580px;
  overflow: hidden;
  object-fit: contain;
}


.adminPage__UPTitle {
  position: relative;
  bottom: 363px;
  left: 39px;
  z-index: 2;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: bold;
  font-size: 47px;
  line-height: 36px;
  width: 800px;
}

.adminPage__body{
  width: 100%;
}

.adminPage__description{
  all: unset;
  white-space: pre-line;
  width: 100%;
  height: auto;
  font-family: Noto Sans KR;
  font-style: normal;
  font-size: 17px;
  font-weight: 100;
  color: #E5E5E5;
}

.adminPage_options {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 130px;
  position: relative;
  left: 1018px;
  bottom: 786px;
  z-index: 2;
  font-size: 20px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 100;
}

.edit_btn{
  cursor:pointer;
  margin: 5px;
  font-size: 30px;
}

.userCircle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #026cc3;
}

.admin_title{
  font-size: 40px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 600;
  margin: 45px;
}

.complaint_circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ca0011;
}

.admin_searchComplaint{
  width: 300px;
  height: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
}

.complaint_threshold{
  line-height: 25px;
  margin-left: 16px;
}

.admin_delete{
  width: 100%;
  height: 90px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 10px;
}

.description{
  margin-top:5px;
  margin-right: 20px;
}

.admin_btn{

}

.adminPage_edit{
  font-size: 15px;
}