.detailPage__fork_btn{
  cursor: pointer;
  margin-bottom: 20px;
  margin-left:20px;
  width: 130px;
  height: 36px;
  background: rgba(2, 65, 238, 0.541);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailPage__fork_btn:hover{
  cursor: pointer;  
  margin-bottom: 20px;
  width: 130px;
  height: 36px;
  background: rgba(2, 65, 238, 0.883);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
