.app {
  padding-top: 69px;
  min-height: calc(100vh);
  /* min-height: calc(100vh - 80px); */
  background: #222831;
}
@media (max-width: 850px) {
  .app {
    padding-top: 52px;
  }
}

button:focus {
  /* border: none; */
  outline: none;
}
